# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
tfplan
.terraform.lock.hcl

# Lambda packages
*.zip

# Python
__pycache__/
*.pyc
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Responses
response.json
r1.json
r2.json

